<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <h1>Hello,</h1>
    <p>To reset your password, please click this link: </p>
    <a th:text="${link}" th:href="${link}"></a>
    <p>The password reset link will be invalid after 15 minutes.</p>
    <p>If you experience any issues with the password reset link, either request a new link on our website or contact us directly.</p>
    <p>A new link can be requested by going to the login page and clicking 'Reset Password'.  You can also contact us at 
        foolishwizard-csr@protonmail.com to request a password reset.
    </p>

</body>
</html>